@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Righteous&family=Rubik+80s+Fade&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&family=Rubik+80s+Fade&family=Rye&display=swap');
body {
    width: 100%;
    height: 100vh;
    background: #000000;
    background: linear-gradient(to right, #1f021b, #000000);
}

.responsive {
    max-width: 75%;
    height: auto;
}

img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: "Open Sans", serif;
    background-color: #232323;
    color: floralwhite;
   
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}

.book-logo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(208, 161, 188);
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;

}

